body{
    background: rgb(91, 139, 211);
    font: normal 15pt arial ;
}

header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align:center;
    box-shadow: 3px 3px 10px rgba(22, 22, 22, 0.534);
}

footer{
   color:white;
   text-align: center;

}